.container-fluid {
  background-image: url("https://image.ibb.co/fKdBRJ/Screen_Shot_2018_05_09_at_12_05_41_AM.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 725px;
  width: auto;
}

#heading {
  height: 10%;
  padding-top: 20px;
  text-align: center;
}

#droppableD {
  height: 28%;
}

#draggableD {
  height: 42%;
}

#setOptions {
  height: 14%
}

#buttons {
  height: 12%;
  vertical-align: bottom;
  margin: auto;
  padding: 0px;
}

div.col-4 {
  height: 5%;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
   ...
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  ...
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
   ...
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
   ...
}
