.container-fluid {
  background-image: url("https://image.ibb.co/izrqoy/solid_silver.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 725px;
  width: auto;
}

p {
  text-align: center;
  padding-top: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#heading {
  height: 10%;
  padding-top: 20px;
  text-align: center;
}

#droppableD {
  height: 28%;
}

#draggableD {
  height: 42%;
}

#setOptions {
  height: 14%
}

#buttons {
  height: 12%;
  vertical-align: bottom;
  margin: auto;
  padding: 0px;
}

div.col-4 {
  height: 5%;
}


.first, .additional, .custom {
  position: absolute;
  height: 30px;
  margin-bottom: 5px;
  background-color: white;
  border: solid 1px black;
  box-shadow: 2px 2px 1px grey;
}
